# Exclude all static web assets from language stats
*.js linguist-vendored
*.css linguist-vendored
*.html linguist-vendored

# Ignore subfolders containing vendors
static/** linguist-vendored
plugins/** linguist-vendored

